@page "{id:int}"
@model LearnFromAI.Web.Pages.SubjectModel
@{
  ViewData["Title"] = Model.Subject.Headline;
}

<style>
  #tableOfContents a {
    text-decoration: none;
  }

  #tableOfContents .active>a {
    font-weight: bold;
  }

  #tableOfContents .list-group-item.active {
    background-color: inherit;
    border-color: rgba(0, 0, 0, .125);
  }
</style>

<div class="container-fluid">
  <div class="row">
    <!-- Table of Contents -->
    <div class="col-md-3">
      @await Html.PartialAsync("_TableOfContents", Model.Subject.CourseId)
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <p class="card-text">@Html.Raw(Model.Subject.Content)</p>
        </div>
      </div>
    </div>
  </div>
</div>
